openapi: 3.2.0
info:
  title: Stotles Public Buyers API
  description: 'The Stotles Public API gives you programmatic access to UK public sector procurement

    data — notices, buyers, suppliers and framework agreements — as JSON over HTTPS.'
  version: '1.0'
  contact:
    name: Stotles API Support
    url: https://www.stotles.com
servers:
- url: https://api.stotles.com
  description: Production
security:
- apiKey: []
tags:
- name: Buyers
  description: Public sector buyers and their procurement activity.
paths:
  /v1/buyers/search:
    get:
      description: Find public sector buyers by name, optionally narrowed by country or by where they sit in the buyer-type taxonomy. Each result is the full buyer profile — the same shape as `GET /v1/buyers/{id}`.
      operationId: searchBuyers
      parameters:
      - name: query
        required: true
        in: query
        description: Free-text search over the buyer name (2–200 characters).
        schema:
          minLength: 2
          maxLength: 200
          type: string
      - name: country_code
        required: false
        in: query
        description: Filter to buyers in these ISO 3166-1 alpha-2 countries. Repeatable.
        schema:
          maxItems: 100
          type: array
          items:
            type: string
            pattern: ^[A-Za-z]{2}$
        style: form
        explode: true
      - name: type
        required: false
        in: query
        description: Filter to buyers of these types. Repeatable.
        schema:
          maxItems: 23
          type: array
          items:
            type: string
            enum:
            - ministerial_department
            - non_ministerial_department
            - agencies_and_non_departmental_bodies
            - other_central
            - devolved_department
            - local_authority
            - purchasing_organization
            - parish_council
            - other_local_organization
            - central_healthcare_organizations
            - nhs_trusts
            - nhs_ccg_stp_ics
            - other_healthcare
            - police
            - fire
            - ambulance
            - other_blue_light
            - schools
            - higher_and_further_education
            - other_education
            - housing_associations
            - other_public_sector
            - utilities
        style: form
        explode: true
      - name: type_group
        required: false
        in: query
        description: Filter to buyers in these type groups — matches any type within a group. Repeatable.
        schema:
          maxItems: 6
          type: array
          items:
            type: string
            enum:
            - central
            - local
            - healthcare
            - blue_light
            - education
            - other
        style: form
        explode: true
      - name: limit
        required: false
        in: query
        description: Maximum results per page (1–50, default 20). Ignored when `cursor` is set.
        schema:
          minimum: 1
          maximum: 50
          default: 20
          type: integer
      - name: cursor
        required: false
        in: query
        description: Opaque pagination cursor from a previous response's `next_cursor`. Carries the page and page size, so `limit` is ignored when it is present.
        schema:
          type: string
      responses:
        '200':
          description: A page of matching buyers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyerSearchResponseDto'
              example:
                items:
                - id: 3c6e0b8a-9c15-4f2d-8b7a-2e5d1c9f4a60
                  name: Department for Work and Pensions
                  location:
                    country_code: GB
                    locality: London
                  employee_count_band: 20000+
                  website_url: https://www.gov.uk/government/organisations/department-for-work-pensions
                  types:
                  - id: ministerial_department
                    name: Ministerial department
                    group:
                      id: central
                      name: Central government
                - id: 5a1f2c7d-4b8e-4c1a-9f3d-6e2b8a4c7d19
                  name: Leeds City Council
                  location:
                    country_code: GB
                    locality: Leeds
                  employee_count_band: 10000-19999
                  website_url: https://www.leeds.gov.uk
                  types:
                  - id: local_authority
                    name: Local authority
                    group:
                      id: local
                      name: Local government
                next_cursor: eyJwYWdlIjoyLCJsaW1pdCI6MjB9
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
      summary: Search buyers by name
      tags:
      - Buyers
      x-codeSamples:
      - lang: cURL
        label: curl
        source: "curl -G https://api.stotles.com/v1/buyers/search \\\n  -H \"x-api-key: $STOTLES_API_KEY\" \\\n  --data-urlencode \"query=city council\" \\\n  -d \"type_group=local\" \\\n  -d \"country_code=GB\""
  /v1/buyers/{id}:
    get:
      description: Fetch a single buyer, including its location and what kind of public sector body it is. Use the `id` as the `buyer_id` filter on notice search to see what it has been procuring.
      operationId: getBuyer
      parameters:
      - name: id
        required: true
        in: path
        description: The buyer's unique identifier.
        schema:
          format: uuid
          type: string
      responses:
        '200':
          description: The buyer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyerResponseDto'
              example:
                id: 3c6e0b8a-9c15-4f2d-8b7a-2e5d1c9f4a60
                name: Department for Work and Pensions
                location:
                  country_code: GB
                  locality: London
                employee_count_band: 20000+
                website_url: https://www.gov.uk/government/organisations/department-for-work-pensions
                types:
                - id: ministerial_department
                  name: Ministerial department
                  group:
                    id: central
                    name: Central government
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
      summary: Get a buyer by id
      tags:
      - Buyers
      x-codeSamples:
      - lang: cURL
        label: curl
        source: "curl https://api.stotles.com/v1/buyers/3c6e0b8a-9c15-4f2d-8b7a-2e5d1c9f4a60 \\\n  -H \"x-api-key: $STOTLES_API_KEY\""
components:
  schemas:
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          description: Stable category identifier — clients branch on this.
          format: uri
        title:
          type: string
          description: Short, human-readable summary of the category. Stable per `type`.
        status:
          type: integer
          minimum: 100
          maximum: 599
          description: HTTP status code, duplicated in the body so the payload is self-contained.
        detail:
          description: Human-readable, occurrence-specific detail. Omitted on 5xx so we never leak internals.
          type: string
        errors:
          description: Per-field validation failures; present only on validation (400) problems.
          type: array
          items:
            anyOf:
            - type: object
              properties:
                detail:
                  type: string
                  description: Human-readable description of this field error.
                pointer:
                  type: string
              required:
              - detail
              - pointer
              additionalProperties: false
            - type: object
              properties:
                detail:
                  type: string
                  description: Human-readable description of this field error.
                parameter:
                  type: string
              required:
              - detail
              - parameter
              additionalProperties: false
            - type: object
              properties:
                detail:
                  type: string
                  description: Human-readable description of this field error.
                header:
                  type: string
              required:
              - detail
              - header
              additionalProperties: false
      required:
      - type
      - title
      - status
      additionalProperties: true
    BuyerResponseDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The buyer's unique identifier.
        name:
          type: string
          description: The buyer's name.
        location:
          type: object
          properties:
            country_code:
              type: string
              description: ISO 3166-1 alpha-2 country code; empty string when unknown.
            locality:
              type:
              - string
              - 'null'
              description: The town or city (e.g. "London"); null when unknown.
          required:
          - country_code
          - locality
          description: The buyer's location.
        employee_count_band:
          type:
          - string
          - 'null'
          description: Employee-count band (e.g. "20000+"); null when unknown.
        website_url:
          type:
          - string
          - 'null'
          description: The buyer's website URL; null when unknown.
        types:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                enum:
                - ministerial_department
                - non_ministerial_department
                - agencies_and_non_departmental_bodies
                - other_central
                - devolved_department
                - local_authority
                - purchasing_organization
                - parish_council
                - other_local_organization
                - central_healthcare_organizations
                - nhs_trusts
                - nhs_ccg_stp_ics
                - other_healthcare
                - police
                - fire
                - ambulance
                - other_blue_light
                - schools
                - higher_and_further_education
                - other_education
                - housing_associations
                - other_public_sector
                - utilities
                description: Stable identifier for the buyer type.
              name:
                type: string
                description: Human-readable label for the buyer type.
              group:
                type: object
                properties:
                  id:
                    type: string
                    enum:
                    - central
                    - local
                    - healthcare
                    - blue_light
                    - education
                    - other
                    description: Stable identifier for the group.
                  name:
                    type: string
                    description: Human-readable label for the group.
                required:
                - id
                - name
                description: The top-level group this type belongs to.
            required:
            - id
            - name
            - group
          description: What kind of public sector body this buyer is. Empty when the buyer has no recognized type. Most identifiers read plainly; the one acronym is `nhs_ccg_stp_ics` — NHS Clinical Commissioning Group / Sustainability and Transformation Partnership / Integrated Care System.
      required:
      - id
      - name
      - location
      - employee_count_band
      - website_url
      - types
    BuyerSearchResponseDto:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: The buyer's unique identifier.
              name:
                type: string
                description: The buyer's name.
              location:
                type: object
                properties:
                  country_code:
                    type: string
                    description: ISO 3166-1 alpha-2 country code; empty string when unknown.
                  locality:
                    type:
                    - string
                    - 'null'
                    description: The town or city (e.g. "London"); null when unknown.
                required:
                - country_code
                - locality
                description: The buyer's location.
              employee_count_band:
                type:
                - string
                - 'null'
                description: Employee-count band (e.g. "20000+"); null when unknown.
              website_url:
                type:
                - string
                - 'null'
                description: The buyer's website URL; null when unknown.
              types:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      enum:
                      - ministerial_department
                      - non_ministerial_department
                      - agencies_and_non_departmental_bodies
                      - other_central
                      - devolved_department
                      - local_authority
                      - purchasing_organization
                      - parish_council
                      - other_local_organization
                      - central_healthcare_organizations
                      - nhs_trusts
                      - nhs_ccg_stp_ics
                      - other_healthcare
                      - police
                      - fire
                      - ambulance
                      - other_blue_light
                      - schools
                      - higher_and_further_education
                      - other_education
                      - housing_associations
                      - other_public_sector
                      - utilities
                      description: Stable identifier for the buyer type.
                    name:
                      type: string
                      description: Human-readable label for the buyer type.
                    group:
                      type: object
                      properties:
                        id:
                          type: string
                          enum:
                          - central
                          - local
                          - healthcare
                          - blue_light
                          - education
                          - other
                          description: Stable identifier for the group.
                        name:
                          type: string
                          description: Human-readable label for the group.
                      required:
                      - id
                      - name
                      description: The top-level group this type belongs to.
                  required:
                  - id
                  - name
                  - group
                description: What kind of public sector body this buyer is. Empty when the buyer has no recognized type. Most identifiers read plainly; the one acronym is `nhs_ccg_stp_ics` — NHS Clinical Commissioning Group / Sustainability and Transformation Partnership / Integrated Care System.
            required:
            - id
            - name
            - location
            - employee_count_band
            - website_url
            - types
          description: The matching buyers, most relevant first.
        next_cursor:
          type:
          - string
          - 'null'
          description: Opaque cursor for the next page of results; null when this is the last page.
      required:
      - items
      - next_cursor
  responses:
    InternalError:
      description: An unexpected error occurred.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://api.stotles.com/problems/internal
            title: Internal server error
            status: 500
    RateLimited:
      description: The client has sent too many requests in a given amount of time.
      headers:
        Retry-After:
          description: Seconds to wait before retrying.
          schema:
            type: integer
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://api.stotles.com/problems/rate-limited
            title: Too many requests
            status: 429
            detail: Rate limit exceeded. Retry later.
    ValidationError:
      description: The request failed validation.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://api.stotles.com/problems/validation
            title: Request validation failed
            status: 400
            detail: The request parameters failed validation. See the 'errors' array for details.
            errors:
            - parameter: id
              detail: Invalid uuid
    NotFound:
      description: The requested resource does not exist.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://api.stotles.com/problems/not-found
            title: Not found
            status: 404
            detail: No notice exists with the given id.
    Unauthenticated:
      description: Missing or invalid API key.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://api.stotles.com/problems/unauthenticated
            title: Unauthenticated
            status: 401
            detail: Missing or invalid API key.
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
